@import "../utilidades/mixin";
@import "../utilidades/variables";

body{
    background-color: $color-tres;
};

//BLOQUE DE MI HEADER

header{
    @include flex;
    nav{
        ul{
            color: black;
            list-style: none;
            display: flex;
            gap: 2rem;
        }
    }
    .nav-html{
        margin: 5%;
    }      
}

// BLOQUE DE MI MAIN

.texto-index{
    text-align: center;
}
main{
    height: 83vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 16%);
    gap: 2rem;
    margin: 4rem 3rem 4rem 3rem;
    p{
        text-align: center;
    }
    section{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//ESTILOS DE MI FOOTER

footer{
    color: white;
    text-align: center;
    .redes img {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-top: 5px;
        border-radius: 30%;
      
    }
    .wsp{
        position: fixed;
        right: 35px;
        bottom: 40px;
        img{
            width: 60px;
            height: 60px;
            background-color: rgb(21, 225, 21);
            padding: 0px;
            border-radius: 40%;
        }
    }
}